.main__container {
    background: var(--box-backgrond);
    box-sizing: border-box;
    box-shadow: 0 0 .25rem var(--box-shadow);
    border-radius: .25rem;
    left: 50%;
    padding: .5rem 1.25rem 1.25rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

.form__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form__content {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    margin: 1.5rem;
    width: 330px;
}

.form__label {
    color: var(--box-text);
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.form__text {
    background: var(--main-backgrond);
    border-radius: .25rem;
    color: var(--title-text);
    cursor: auto;
    font-size: 1.25rem;
    line-height: 2rem;
    height: 250px;
    max-height: 350px;
    max-width: 330px;
    margin: 1.25rem 0 1.25rem;
    padding: .5rem;
    text-align: none;
    width: auto;
}

button {
    background: none;
    border: 1px solid var(--box-shadow);
    border-radius: .25rem;
    color: var(--box-text);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 .5rem 0 0;
    padding: .5rem .75rem;
}

button:hover {
    box-shadow: 0 0 .25rem var(--box-shadow);
    color: var(--box-shadow);
    cursor: pointer;
    transform: scale(1.025);
}