@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --box-background: #303E40;
    --box-text: #B7F2F7;
    --box-shadow: #BEC3C4;
    --title-text: #A6DCE0;
    --main-background: #222D2E ;
    --light-color: #ffffff;
    --dark--color: #222D2E;

    font-family: 'Roboto', sans-serif;
    height: auto;
}

body {
    background: var(--main-background);
}